/*Styling font sizes*/

$size_one_point_two: 1.2em;
$size_one_point_three: 1.3em;
$size_one_point_four: 1.4em;
$size_one_point_nine: 1.9em;
$size_two_point_two: 2.2em;
$size_two_point_five: 2.5em;
$size_two_point_six: 2.6em;
