/*Colours used in the document*/

$chartreuse: #7fff00;
$sienna: #A0522D;
$SpringGreen: #00ff7f;
$SeaGreen: #2E8B57;
$YellowGreen: #9acd32;
$Grey1: #0a0a0a;
$Grey2: #ccc;
$White: #ffffff;
$Black: #000000;
